{% extends 'app/base.html'%}

{% load static %}

{% block contenido %}
<div class="productos">
    {% for p in producto %}
    <div class="producto">
        <div class="contenedor">
            {% if p.imagen %}
            <img src="{{p.imagen.url}}" alt="chevrolet">
            {% endif %}
            <div class="detalles">
                <h5>{{p.marca | capfirst }}</h5>
                <h2>{{p.nombre | title }}</h2>
                <h3>${{p.precio }}</h3>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}