<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
</head>
<body>
    <header>
        <div class="contenedor_logo">
            <img src="{% static 'app/img/automotora.jpg' %}" alt="logo" class="logo">
        </div>
        <div>
            <nav>
                <ul>
                    <li>
                      <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
                    <li>
                        <a href="galeria.html">Galeria</a>
                    </li>
                </ul>
            </nav>
        </div>

    </header>

    <div id="contenido">

    {% block contenido %}
    {% endblock %}


    </div>
    
    <footer>
<div class="marcas">
    <img src="{% static 'app/img/footer/logo_chevrolet.jpg' %}" alt="logo">
    <img src="{% static 'app/img/footer/ford.png' %}" alt="auto">
    <img src="{% static 'app/img/footer/logo_cherry.png' %}" alt="logo">
    <img src="{% static 'app/img/footer/logo-suzuki.jpg' %}" alt="logo">
    <img src="{% static 'app/img/footer/logo_hyundai.jpg' %}" alt="logo">

</div>
<div class="logo">
    <img src="{% static 'app/img/automotora.jpg' %}" alt="logo">
</div>
    </footer>
</body>
</html>